In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df_1 = pd.read_csv('reviews.csv', sep='\t')

In [49]:
df_1.head()

,Name,RatingValue,DatePublished,Review
0,Playa Cabana,4,2020-02-26,I was tasked with finding a spot for a group d...
1,Playa Cabana,3,2019-08-04,Went here with my friends and family. I liked ...
2,Playa Cabana,3,2019-08-24,Surprisingly good Flautas! They came as 3 roll...
3,Playa Cabana,4,2019-06-06,As a Mexican I always crave authentic Mexican ...
4,Playa Cabana,5,2020-05-25,Best tacos I've ever had. Both locations are g...

In [50]:
df_2 = df_1.copy()

In [51]:
#dictionary inside the dictionary
df_2 = df_2.replace({'RatingValue' : { 5:"positive",
                                      4:"positive",
                                      3:"neutral",
                                      2:"negative",
                                      1:"negative"}})
df_2.head()

,Name,RatingValue,DatePublished,Review
0,Playa Cabana,positive,2020-02-26,I was tasked with finding a spot for a group d...
1,Playa Cabana,neutral,2019-08-04,Went here with my friends and family. I liked ...
2,Playa Cabana,neutral,2019-08-24,Surprisingly good Flautas! They came as 3 roll...
3,Playa Cabana,positive,2019-06-06,As a Mexican I always crave authentic Mexican ...
4,Playa Cabana,positive,2020-05-25,Best tacos I've ever had. Both locations are g...

In [52]:
df_2.shape

(1920, 4)

In [53]:
#data description
print(df_2.describe())

              Name RatingValue DatePublished  \
count         1920        1920          1920
unique          96           3           767
top     La Carnita    positive    2020-02-16
freq            40        1465            13

                                                   Review
count                                                1920
unique                                               1900
top     4 stars for taste\n2 stars for price \nWhich r...
freq                                                    2

In [54]:
#column name
print(df_2.columns)

Index(['Name', 'RatingValue', 'DatePublished', 'Review'], dtype='object')

In [55]:
#data type
print(df_2.dtypes)

Name             object
RatingValue      object
DatePublished    object
Review           object
dtype: object

In [56]:
#the summary of the categorical values

categorical = df_2.dtypes[df_2.dtypes == "object"].index
print(categorical)
df_2[categorical].describe()

Index(['Name', 'RatingValue', 'DatePublished', 'Review'], dtype='object')

,Name,RatingValue,DatePublished,Review
count,1920,1920,1920,1920
unique,96,3,767,1900
top,La Carnita,positive,2020-02-16,4 stars for taste\n2 stars for price \nWhich r...
freq,40,1465,13,2

In [57]:
#CHALLANGES-CHECK MISSING VALUES

df_2.isna().sum()

Name             0
RatingValue      0
DatePublished    0
Review           0
dtype: int64

In [58]:
List_Of_Categories_In_Column=list(df_2['RatingValue'].value_counts().index)
List_Of_Categories_In_Column

['positive', 'neutral', 'negative']

In [59]:
List_Of_Categories_In_Column_with_counts=list(df_2['RatingValue'].value_counts())
List_Of_Categories_In_Column_with_counts

[1465, 297, 158]

In [60]:
df_positive = df_2[df_2["RatingValue"] =="positive"]
df_positive = df_positive.copy()
df_positive_new = df_positive.head(158)
print(df_positive_new.shape)
print(df_positive_new.head())

(158, 4)
           Name RatingValue DatePublished  \
0  Playa Cabana    positive    2020-02-26
3  Playa Cabana    positive    2019-06-06
4  Playa Cabana    positive    2020-05-25
5  Playa Cabana    positive    2019-08-31
6  Playa Cabana    positive    2019-04-07

                                              Review
0  I was tasked with finding a spot for a group d...
3  As a Mexican I always crave authentic Mexican ...
4  Best tacos I've ever had. Both locations are g...
5  Food was exceptional and service was pretty fa...
6  Their space is a bit cramped, but Playa Cabana...

In [61]:
df_neutral = df_2[df_2["RatingValue"] == "neutral"]
df_neutral = df_neutral.copy()
df_neutral_new = df_neutral.head(158)
print(df_neutral_new.shape)
print(df_neutral_new.head())

(158, 4)
               Name RatingValue DatePublished  \
1      Playa Cabana     neutral    2019-08-04
2      Playa Cabana     neutral    2019-08-24
12     Playa Cabana     neutral    2018-09-07
16     Playa Cabana     neutral    2018-08-13
30  Wilbur Mexicana     neutral    2019-12-14

                                               Review
1   Went here with my friends and family. I liked ...
2   Surprisingly good Flautas! They came as 3 roll...
12  My friend and I decided on Mexican food for di...
16  I've been duped by yelp reviews!! We were give...
30  Great spot if you wanna get some quick tacos o...

In [62]:
df_negative = df_2[df_2["RatingValue"] == "negative"]
df_negative =df_negative.copy()
df_negative_new = df_negative
print(df_negative_new.shape)
print(df_negative_new.head())

(158, 4)
            Name RatingValue DatePublished  \
53  Como En Casa    negative    2019-02-08
57  Como En Casa    negative    2019-08-27
58  Como En Casa    negative    2018-03-27
59  Como En Casa    negative    2019-07-05
70  Mexico Lindo    negative    2018-06-06

                                               Review
53  $16 dollars for the worst burrito bowl/platter...
57  I took the advice of one of the reviewers on Y...
58  Two words can summarize my thoughts on the foo...
59  Based on the ratings and reviews I was very ex...
70  This place has been bookmarked for awhile and ...

In [63]:
#now concatenate all three dataframes
data_frame = [df_negative_new ,df_positive_new,df_neutral_new]
result = pd.concat(data_frame)
result

,Name,RatingValue,DatePublished,Review
53,Como En Casa,negative,2019-02-08,$16 dollars for the worst burrito bowl/platter...
57,Como En Casa,negative,2019-08-27,I took the advice of one of the reviewers on Y...
58,Como En Casa,negative,2018-03-27,Two words can summarize my thoughts on the foo...
59,Como En Casa,negative,2019-07-05,Based on the ratings and reviews I was very ex...
70,Mexico Lindo,negative,2018-06-06,This place has been bookmarked for awhile and ...
...,...,...,...,...
1048,Levetto,neutral,2018-11-17,Came on a Saturday evening at 5:30 and it was ...
1054,La Vecchia Ristorante,neutral,2019-08-15,La Vecchia is a cute restaurant with great amb...
1057,La Vecchia Ristorante,neutral,2019-07-18,Going to start off this review by saying the f...
1071,La Vecchia Ristorante,neutral,2018-08-29,My family and I decided to choose La Vecchia f...
1075,Taverna Mercatto,neutral,2019-10-24,A last minute decision as we were staying at D...

In [64]:
from sklearn.utils import shuffle

In [65]:
df = shuffle(result)

In [66]:
df.reset_index(inplace=True, drop=True)

# 1)Dataset

In [67]:
df.head()

,Name,RatingValue,DatePublished,Review
0,Chula Taberna Mexicana,neutral,2019-10-06,Friendly service and accommodated a baby no pr...
1,El Trompo Taco Bar,neutral,2019-04-07,El Trompo has always flown over my head - I've...
2,Wilbur Mexicana,positive,2020-01-11,The menu is simple and the atmosphere has good...
3,Agio,neutral,2020-04-24,"Terrific food, poor atmosphere, great customer..."
4,Como En Casa,positive,2019-07-22,Came here with my Spanish class of 7 after our...

In [68]:
#to further check the dataset is balanced or not

#Lets see if Length of reviews has any association with Label Classification
df['length']=df['Review'].apply(len) #adding a length Column

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [69]:
df.head() #viewing top 5 rows

,Name,RatingValue,DatePublished,Review,length
0,Chula Taberna Mexicana,neutral,2019-10-06,Friendly service and accommodated a baby no pr...,354
1,El Trompo Taco Bar,neutral,2019-04-07,El Trompo has always flown over my head - I've...,537
2,Wilbur Mexicana,positive,2020-01-11,The menu is simple and the atmosphere has good...,1118
3,Agio,neutral,2020-04-24,"Terrific food, poor atmosphere, great customer...",96
4,Como En Casa,positive,2019-07-22,Came here with my Spanish class of 7 after our...,489

In [70]:
#Summary Statistics
#Lets generate Summary Statistics of Review Length group by classes
#Also to further check the dataset is balanced or not

#df[['length','RatingValue']].groupby('RatingValue').describe()

# 2)Analysing the reviews

### Word Count – total number of words in each review

In [71]:
# Calculate word count
df['word_count'] = df['Review'].apply(lambda x: len(str(x).split(" ")))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Character Count – total number of characters in each review

In [72]:
# Calculate character count
df['char_count'] = df['Review'].str.len()

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Average word length – the average length of words used

In [73]:
def avg_word(Review):
  words = Review.split()
  return (sum(len(word) for word in words) / len(words))

# Calculate average words
df['avg_word'] = df['Review'].apply(lambda x: avg_word(x))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Stopword Count – total number of words which are considered stop words

In [74]:
# Import stopwords
from nltk.corpus import stopwords

### Calculate number of stop words

In [75]:
stop_words = stopwords.words('english')
df['stopword_coun'] = df['Review'].apply(lambda x: len([x for x in x.split() if x in stop_words]))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
df.describe()

            length  word_count   char_count    avg_word  stopword_coun
count   474.000000  474.000000   474.000000  474.000000     474.000000
mean    799.419831  146.158228   799.419831    4.442453      59.529536
std     654.140443  119.416863   654.140443    0.316498      49.947924
min      87.000000   13.000000    87.000000    3.631579       3.000000
25%     368.250000   67.000000   368.250000    4.244850      27.000000
50%     610.000000  112.000000   610.000000    4.420964      45.500000
75%    1057.500000  198.750000  1057.500000    4.620898      81.750000
max    5000.000000  944.000000  5000.000000    5.857143     366.000000

In [77]:
df.head()

,Name,RatingValue,DatePublished,Review,length,word_count,char_count,avg_word,stopword_coun
0,Chula Taberna Mexicana,neutral,2019-10-06,Friendly service and accommodated a baby no pr...,354,61,354,4.515625,20
1,El Trompo Taco Bar,neutral,2019-04-07,El Trompo has always flown over my head - I've...,537,95,537,4.642105,36
2,Wilbur Mexicana,positive,2020-01-11,The menu is simple and the atmosphere has good...,1118,206,1118,4.290476,90
3,Agio,neutral,2020-04-24,"Terrific food, poor atmosphere, great customer...",96,15,96,5.857143,3
4,Como En Casa,positive,2019-07-22,Came here with my Spanish class of 7 after our...,489,93,489,4.136842,39

# 3)Cleaning  the Data Set

How does the old saying go?

Crap In, Crap Out.

Well the same applies to natural language processing and sentiment analysis. Cleaning text is a little different to regular data cleaning in that, well, you’re dealing with strings of text rather than records of data. Regardless, cleaning the data is still important. The four most common steps that are performed are;

Lowercasing all words
Removing punctuation
Removing stopwords
Removing trivial words (excessively short and frequent words e.g. A, I, us)
Performing these steps ensures that the text is as relevant as possible to the message that the actual review is trying to represent.

Without further adieu, let’s get cleaning.

First up, lowercasing all the words. The stop word list that is used in a couple of steps has all of the words in lowercase, by lowercasing all of the text in the reviews it means that words which are capitalised won’t be missed

In [78]:
#Lowercasing all words
#A key part of text analysis is tokenization, this is where blocks of text are split into their individual words
#and pieces of punctuation. The punctuation itself does not add much meaning when searching for a topic or trying 
#to ascertain sentiment, hence its best to strip it out.
# Lower case all words
df['review_lower'] = df['Review'].apply(lambda x: " ".join(x.lower() for x in x.split()))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [80]:
#punctuation
import string
punc = string.punctuation # to see list of punctuation

df['review_nopunc'] = df['review_lower'].str.replace('punc', '')

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [81]:
# Import stopwords
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

# Remove Stopwords
df['review_nopunc_nostop'] = df['review_nopunc'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_words))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
# Return frequency of values
freq= pd.Series(" ".join(df['review_nopunc_nostop']).split()).value_counts()[:30]

In [83]:
other_stopwords = ['get', 'us', 'see', 'use', 'said', 'asked', 'day', 'go' \
  'even', 'ive', 'right', 'left', 'always', 'would', 'told', \
  'get', 'us', 'would', 'get', 'one', 'ive', 'go', 'even', \
  'also', 'ever', 'x', 'take', 'let' ]

In [84]:
df['review_nopunc_nostop_nocommon'] = df['review_nopunc_nostop'].apply(lambda x: "".join(" ".join(x for x in x.split() if x not in other_stopwords)))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# This should leave you with a data frame with reviews at each of the different stages of cleaning. We’ll eventually drop these and replace them with our final sentiment metrics so don’t fret if it looks a little messy for now.

In [85]:
df.head()

,Name,RatingValue,DatePublished,Review,length,word_count,char_count,avg_word,stopword_coun,review_lower,review_nopunc,review_nopunc_nostop,review_nopunc_nostop_nocommon
0,Chula Taberna Mexicana,neutral,2019-10-06,Friendly service and accommodated a baby no pr...,354,61,354,4.515625,20,friendly service and accommodated a baby no pr...,friendly service and accommodated a baby no pr...,friendly service accommodated baby problem bus...,friendly service accommodated baby problem bus...
1,El Trompo Taco Bar,neutral,2019-04-07,El Trompo has always flown over my head - I've...,537,95,537,4.642105,36,el trompo has always flown over my head - i've...,el trompo has always flown over my head - i've...,el trompo always flown head - i've walked hund...,el trompo flown head - i've walked hundred tim...
2,Wilbur Mexicana,positive,2020-01-11,The menu is simple and the atmosphere has good...,1118,206,1118,4.290476,90,the menu is simple and the atmosphere has good...,the menu is simple and the atmosphere has good...,menu simple atmosphere good vibes. casual hip ...,menu simple atmosphere good vibes. casual hip ...
3,Agio,neutral,2020-04-24,"Terrific food, poor atmosphere, great customer...",96,15,96,5.857143,3,"terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer..."
4,Como En Casa,positive,2019-07-22,Came here with my Spanish class of 7 after our...,489,93,489,4.136842,39,came here with my spanish class of 7 after our...,came here with my spanish class of 7 after our...,came spanish class 7 last class. 7 7 us polish...,came spanish class 7 last class. 7 7 polished ...

# STEP 4 – LEMMATIZE THE REVIEWS

Lemmatization is the process of transforming your natural text from english to lemming language.

I kid, it’s the process of translating words back to their base form.

Lemmatization Example

am, are, is would be lemmatized to be
car, cars, car’s, cars’ would be lemmatized to car
This cuts out the number of words that are available for analysis by combining similar forms into one base form. One of other processes that is commonly used to cut down the the number of unique words in natural text processing is a process called stemming.

Stemming shortens the number of unique words by removing common endings.

Example:

Caresses is stemmed to caress
Ponies is stemmed to poni
Some words can stand alone without the extended ending however as shown with the word ponies above, this is not always the case. In this case we’ll use lemmatization to shorten down our word lsit.

The text blob module provides a simple method to lemmatize the reviews.

In [86]:
# Import textblob
from textblob import Word

# Lemmatize final review format
df['cleaned_review'] = df['review_nopunc_nostop_nocommon']\
.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### There is an example of the change from base reviw to clean and lemmatized review

In [87]:
print('Base Review\n' ,df ["Review"][0])
print("\n------------------------------")
print("Cleaned and Lemmatized Review \n" ,df["cleaned_review"][0])

Base Review
 Friendly service and accommodated a baby no problem on busy Sunday evening.

I tried 3 types of tacos and the standout was the fish taco for me. I absolutely loved my margarita with the star anise spice in it. Must try!
The calamari was pretty weak, very small portions and fried batter falling off.

I would return to try a burrito, they looked massive.

------------------------------
Cleaned and Lemmatized Review
 friendly service accommodated baby problem busy sunday evening. tried 3 type taco standout fish taco me. absolutely loved margarita star anise spice it. must try! calamari pretty weak, small portion fried batter falling off. return try burrito, looked massive.

# Sentiment Analysis

Finally, onto the sentiment analysis.

After all that cleaning actually performing the sentiment analysis is really quite straight forward. The textblob module again comes in quite handy for this task and returns not only sentiment metric but also a subjectivity metric as well.

The polarity metric refers to the degree to which the text analysed is positive or negative, between a range of -1 to 1. A score of 1 means highly positive whereas -1 is considered well and truly negative.

#

In [88]:
# Calculate polarity
from textblob import TextBlob
df['polarity'] = df['cleaned_review'].apply(lambda x: TextBlob(x).sentiment[0])

C:\Users\Mahwish\Anaconda2020\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [89]:
df.head()

,Name,RatingValue,DatePublished,Review,length,word_count,char_count,avg_word,stopword_coun,review_lower,review_nopunc,review_nopunc_nostop,review_nopunc_nostop_nocommon,cleaned_review,polarity
0,Chula Taberna Mexicana,neutral,2019-10-06,Friendly service and accommodated a baby no pr...,354,61,354,4.515625,20,friendly service and accommodated a baby no pr...,friendly service and accommodated a baby no pr...,friendly service accommodated baby problem bus...,friendly service accommodated baby problem bus...,friendly service accommodated baby problem bus...,0.139286
1,El Trompo Taco Bar,neutral,2019-04-07,El Trompo has always flown over my head - I've...,537,95,537,4.642105,36,el trompo has always flown over my head - i've...,el trompo has always flown over my head - i've...,el trompo always flown head - i've walked hund...,el trompo flown head - i've walked hundred tim...,el trompo flown head - i've walked hundred tim...,0.081481
2,Wilbur Mexicana,positive,2020-01-11,The menu is simple and the atmosphere has good...,1118,206,1118,4.290476,90,the menu is simple and the atmosphere has good...,the menu is simple and the atmosphere has good...,menu simple atmosphere good vibes. casual hip ...,menu simple atmosphere good vibes. casual hip ...,menu simple atmosphere good vibes. casual hip ...,0.218304
3,Agio,neutral,2020-04-24,"Terrific food, poor atmosphere, great customer...",96,15,96,5.857143,3,"terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer...",0.100000
4,Como En Casa,positive,2019-07-22,Came here with my Spanish class of 7 after our...,489,93,489,4.136842,39,came here with my spanish class of 7 after our...,came here with my spanish class of 7 after our...,came spanish class 7 last class. 7 7 us polish...,came spanish class 7 last class. 7 7 polished ...,came spanish class 7 last class. 7 7 polished ...,0.345833

In [90]:
df_new = df[['Name','RatingValue','DatePublished','Review','cleaned_review']]
df_new

,Name,RatingValue,DatePublished,Review,cleaned_review
0,Chula Taberna Mexicana,neutral,2019-10-06,Friendly service and accommodated a baby no pr...,friendly service accommodated baby problem bus...
1,El Trompo Taco Bar,neutral,2019-04-07,El Trompo has always flown over my head - I've...,el trompo flown head - i've walked hundred tim...
2,Wilbur Mexicana,positive,2020-01-11,The menu is simple and the atmosphere has good...,menu simple atmosphere good vibes. casual hip ...
3,Agio,neutral,2020-04-24,"Terrific food, poor atmosphere, great customer...","terrific food, poor atmosphere, great customer..."
4,Como En Casa,positive,2019-07-22,Came here with my Spanish class of 7 after our...,came spanish class 7 last class. 7 7 polished ...
...,...,...,...,...,...
469,Trattoria Taverniti,neutral,2020-02-15,"In a word, mediocre ! Always a hit or miss. Cr...","word, mediocre ! hit miss. cramped ,over price..."
470,Hacienda las Américas,positive,2018-07-30,"$2.50 fish tacos, need I say more? I haven't r...","$2.50 fish tacos, need say more? really figure..."
471,Mexico Lindo,neutral,2015-02-11,Came here tonight for dinner tonight because o...,came tonight dinner tonight awesome experience...
472,Xola Mexican Food,negative,2020-01-29,I came her few weeks ago. I straight up saw th...,came week ago. straight saw lady (pretty sure ...
473,Stelvio,neutral,2019-05-25,First time at Stelvio- wasn't as good as I'd h...,first time stelvio- good i'd hoped. ordered fr...

# Spliting for the dataset

In [91]:
from sklearn.model_selection import train_test_split
train_data, valid_data = train_test_split(df_new, test_size=0.3)

In [92]:

train_data.to_csv(r'C:\Users\Maha\training.csv')
valid_data.to_csv(r'C:\Users\Maha\valid.csv')

In [93]:
print(train_data.shape)
print(valid_data.shape)

(331, 5)
(143, 5)

In [94]:
X_train = train_data["cleaned_review"]
print(X_train.head())

X_valid = valid_data["cleaned_review"]
print(X_valid.head())

y_train = train_data["RatingValue"]
print(y_train)

y_valid = valid_data["RatingValue"]
print(y_valid)

247    year ago sure changed time service yesterday (...
121    say bat: eat chip guacamole!!!!!!!!! literally...
364    love authentic mexican food here! tried dishes...
260    tldr: fantastic staff service, good homey atmo...
239    $$ side expected great meal. ordered spaghetti...
Name: cleaned_review, dtype: object
122    best salsa ever! honestly everything really go...
52     quetzal interesting. there's big huge space go...
4      came spanish class 7 last class. 7 7 polished ...
311    taco good? definitely. pescado, beef pork pine...
286    ok, know place rage. ordered grilled beef coro...
Name: cleaned_review, dtype: object
247    negative
121    positive
364    positive
260    positive
239    negative
         ...
368    positive
397     neutral
231     neutral
87     negative
251     neutral
Name: RatingValue, Length: 331, dtype: object
122    positive
52      neutral
4      positive
311     neutral
286    negative
         ...
20      neutral
303    positive
19      neutral
221     neutral
279    positive
Name: RatingValue, Length: 143, dtype: object

In [95]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
X_train_counts.shape

(331, 4243)

In [96]:
from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=True).fit(X_train_counts)
X_train_tf = tf_transformer.transform(X_train_counts)
X_train_tf.shape

(331, 4243)

In [97]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(331, 4243)

## Naive Bayes Classifier

In [98]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train_tfidf,y_train )

In [99]:
#validating data
X_new_counts = count_vect.transform(X_valid)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [100]:
predicted = clf.predict(X_new_tfidf)

In [101]:
from sklearn.pipeline import Pipeline
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', MultinomialNB()),
])

## pipe Line

In [102]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('vect',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('clf',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [103]:
X_valid 
predicted = text_clf.predict(X_valid)
np.mean(predicted == y_valid )

0.6643356643356644

# SGD Classifier

In [104]:
from sklearn.linear_model import SGDClassifier
text_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', SGDClassifier(loss='hinge', penalty='l2',
                          alpha=1e-3, random_state=42,
                          max_iter=5, tol=None)),
])

text_clf.fit(X_train,y_train)

predicted = text_clf.predict(X_valid)
np.mean(predicted == y_valid)

0.6853146853146853

In [108]:
List_Of_Categories_In_RatingValue=list(df_new['RatingValue'].value_counts().index)
List_Of_Categories_In_RatingValue

['neutral', 'negative', 'positive']

## Classification Reports

In [109]:
from sklearn import metrics
print(metrics.classification_report(y_valid, predicted,
    target_names=List_Of_Categories_In_RatingValue))

              precision    recall  f1-score   support

     neutral       0.68      0.83      0.75        46
    negative       0.77      0.44      0.56        55
    positive       0.64      0.86      0.73        42

    accuracy                           0.69       143
   macro avg       0.70      0.71      0.68       143
weighted avg       0.70      0.69      0.67       143